.admin__content {
    padding: 15px 15px;
    margin: 0 auto;
    max-width: 1230px;
}

.admin-form__heading {
    text-align: center;
    margin-bottom: 25px;
    color: rgb(148, 132, 118);
    font-family: serif;
    font-size: 20px;
}

.search-form__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form__item-input {
    padding: 10.5px 10px;
    color: rgb(139, 121, 105);}

.search-form__item-input:first-of-type {
    width: 30%;
}

.search-form__item-select {
    padding: 10.5px 10px;
    color: rgb(139, 121, 105);
}

.search-form__button-search {
    background-color: rgb(130, 117, 106);
    color: white;
    padding: 10px 25px;
    cursor: pointer;
    border: none;
}

.search-form__button-reset {
    background-color: rgb(217, 198, 181);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.search-option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 25px;
}

.search-option__button-export {
    background-color: rgb(237, 233, 230);
    padding: 5px 10px;
    border: none;
    color: rgb(139, 121, 105);
    cursor: pointer;
}

/* svg.w-5.h-5 {
    width: 30px;
    height: 30px;
} */

.search-table__inner {
    border: 1px solid rgb(139, 121, 105);
    width: 100%;
}

.search-table__header {
    background-color: rgb(139, 121, 105);
    color: white;
}

.search-table__header:nth-of-type(1) {
    padding: 15px 10px 15px 35px;
}

.search-table__header:nth-of-type(2) {
    padding: 15px 10px;
}

.search-table__header:nth-of-type(3) {
    padding: 15px 25px;
}

.search-table__header:nth-of-type(4) {
    padding: 15px 35px;
}

.search-table__header:nth-of-type(5) {
    padding: 15px auto;
}

.search-table__item:nth-of-type(1) {
    padding: 15px 10px 15px 35px;
    color: rgb(139, 121, 105);
}

.search-table__item:nth-of-type(2) {
    padding: 15px 10px;
    color: rgb(139, 121, 105);
}

.search-table__item:nth-of-type(3) {
    padding: 15px 25px;
    color: rgb(139, 121, 105);
}

.search-table__item:nth-of-type(4) {
    padding: 15px 35px;
    color: rgb(139, 121, 105);
}

.search-table__item:nth-of-type(5) {
    padding: 15px auto;
}

.search-table__header:not(:last-of-type) {
    text-align: left;
}

.search-table__row:first-of-type {
    height: 55px;
}

.search-table__row:not(:first-of-type) {
    height: 75px;
}

.search-table__row:not(:last-of-type)>.search-table__item {
    border-bottom: 1px solid rgb(139, 121, 105);
}

.search-table__item-button {
    color: rgb(226, 212, 200);
    border: 1px solid rgb(226, 212, 200);
    background-color: white;
    padding: 5px 15px;
    cursor: pointer;
}

